# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\МФТИ_2\С++\contest1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
